$grey_color: #d3dbe9;
$blue_color: #2a6de5;
$orange_color: #fad495;
$green_color: #0ebd35;

$blue_color_lt: #5392ff;
$blue_color_dk: #0f44a0;
$blue_color_dker: #284373;

$grey_color_lt: #e6edf8;
$grey_color_lter: #f2f7ff;
$grey_color_dk: #a7b6d1;
$grey_color_dker: #8793a9;

$orange_color_lt: #fef3e7;
$orange_color_dk: #eeb081;

$--color-primary: $blue_color_lt;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

$--button-default-background-color: white;

